header {
    background-color: #2c3e50;
    position: sticky;
    top: 0%;
    width: 100%;
    height: 5cm;
}
.headerSuperior{
    display: block;
    width: 100%;
    height: 80%;
    background-color: #2c3e50
}
.headerSuperior__buscador{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.buscador{
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 30%;
    border-radius: 25px;

}
.headerSuperior__logo{
    display: table;
    float: left;
    margin-top: -1%;
}
.logo{
    max-width: 200px;
}
.headerSuperior__nav{
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}
.headerSuperior__nav a{
    text-align: center;
    display: table;
    float: left;
}
.headerSuperior__nav a li{
    display: table-cell;
    vertical-align: bottom;
    padding-top: 10px;
}
.navegador{
    float: left;
    height: 20%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-left: 20%;

}
.navegador a{
    height: 20%;
    display: table;
    float: left;
    padding-left: 70px;
}
.navegador a li{
    display: table-cell;
}
hr{
    text-align: left;
    padding: 0%;
    margin: 0%;
}
.navLetras{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
/*FIN HEADER*/
/*Comienzo Footer*/
footer{
    background-color: whitesmoke;
    border-top-style: groove;
    width: 100%;
    height: 5cm;
}
.textoFooter{
    width: 30%;
    display: table;
    float: left;
    font-family: monospace;
    font-size: 100%;
}
.mapa{
    width: 250px;
    height: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 8px;
}
.redesSociales{
    display: table;
    float: right;
}